.App {
  text-align: center;
  background-color: #061217;
  color: white;
  header {
    padding: 40px 40px 0px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    > h1 {
      font-size: 60px;
    }
  }
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    .side-canvas {
      margin: 0px 30px 0px 60px;
      .command-message {
        height: 75px;
        font-size: 20px;
        text-align: center;
      }
      .distance-table {
        > table {
          width: 100%;
          font-size: 25px;
          > tr {
            border: 1px solid white;
          }
        }
      }
    }
    .side-control {
      margin: 0px 60px 0px 30px;
      .stations-selected {
        > div {
          display: flex;
          justify-content: center;
          > h2 {
            font-size: 30px;
          }
          > span {
            font-size: 60px;
          }
          > .no-station-text {
            color: grey;
          }
          > select {
            font-size: 30px;
            margin-left: 30px;
          }
        }
      }
      .find-way-button {
        height: 50px;
        font-size: 30px;
        margin: 30px;
        cursor: pointer;
      }
      .find-way-button:disabled {
        cursor: default;
      }
      #better-way-graph {
        border: 1px solid white;
        border-radius: 10px;
        height: 100px;
        > div {
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}
